# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
myenv/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/

# Node (if you have frontend)
node_modules/